<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807888040714-id4692f1q2s860gocqt7dq5o8d9tt76p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807888040714-id4692f1q2s860gocqt7dq5o8d9tt76p</string>
	<key>API_KEY</key>
	<string>AIzaSyAhNY_9xBM4dKF_xq-6YGvIL9kUY3JunQo</string>
	<key>GCM_SENDER_ID</key>
	<string>807888040714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aesFlutterEncryptDecrypt</string>
	<key>PROJECT_ID</key>
	<string>flutter-encrypt</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-encrypt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807888040714:ios:0051b6c099734032c740f3</string>
</dict>
</plist>